
.link-email_down, .link-phone_down, .link-contact_down {
  background-color: blue;
}
.link-email_full_down, .link-phone_full_down, .link-contact_full_down {
  background-color: green;
}
.link-email_circle_down, .link-phone_circle_down, .link-contact_circle_down {
  background-color: darkorange;
}
.link-email_circle_full_down, .link-phone_circle_full_down, .link-contact_circle_full_down {
  background-color: grey;
}
