<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  <script defer src="https://umami.diekruecke.cloud/script.js" data-website-id="c29fd3b6-fd32-4113-8d87-2606e7af6aea"></script>
</head>
<body>
  <div class="css_body">
    <header>
      {{ partial "header.html" . }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>

</body>
</html>
