<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

{{ with site.Params.template_hinweis }}
  <style>
    body {
      background-color: grey;
    }
  </style>
{{ end }}

<script defer src="https://umami.diekruecke.cloud/script.js" data-website-id="c29fd3b6-fd32-4113-8d87-2606e7af6aea"></script>

{{- if default true .Params.analyze }}
  {{ partialCached "umami/js.html" . }}
{{- end }}

{{- if .IsHome -}}
 <meta name="description" content="{{ site.Params.Description }}" />
{{- else -}}
 <meta name="description" content="{{ .Params.Description }}" />
{{- end }}

{{- if isset .Params "canonical" -}}
  <link rel="canonical" href="{{ .Params.canonical }}" />
{{- else -}}
  <link rel="canonical" href="{{ .Permalink }}" />
{{- end }}